.heavyComponent {
    padding: 2rem;
    height: 100vh;
    box-sizing: border-box;
    
    &Black {
      color: white;
      background: black;
    }
}

.button {
  padding: 1rem;
  margin-bottom: 2rem;
  cursor: pointer;
}